@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background-start: #d6dbdc;
  --background-end: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background-start: #170257;
    --background-end: #010123;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, transparent, var(--background-end))
    var(--background-start);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.input {
  @apply rounded p-2 bg-transparent focus:outline-none border border-white focus:border-blue-500 w-full;
}
